﻿@using MoneyTransfer.ViewModels
@model MoneyTransfer.ViewModels.DepositViewModel

<h2>Вход в приложение</h2>
<form method="post" asp-controller="Transfer" asp-action="Deposit">
    <div asp-validation-summary="ModelOnly"></div>
    <div>
        <label asp-for="INN"></label><br />
        <input asp-for="INN "/>
    </div>

    <div>
        <label asp-for="Money"></label><br />
        <input asp-for="Money" />
        <span asp-validation-for="Money"></span>
    </div>
    <div>
        <input type="submit" value="Send" />
    </div>
</form>
