﻿@using MoneyTransfer.ViewModels
@model IEnumerable<Transaction>

<form asp-controller="Transfer" asp-action="TransactionList">
    <div asp-validation-summary="ModelOnly"></div>
    <div class="container">
        <h2>Transactions</h2>          
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Sender</th>
                    <th>Receiver</th>
                    <th>TransferSum</th>
                    <th>Date</th>
                </tr>
            </thead>
            <tbody>
            @foreach(var t in Model){
                
                <tr>
                    <td>@t.Sender</td>
                    <td>@t.Receiver</td>
                    <td>@t.TransferSum</td>
                    <td>@t.ActionDate</td>
                </tr>
            }
            </tbody>
        </table>
    </div>
</form>
